<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo">
  <test name="Test Cases">
      <classes>
      <class name="Script.Main"></class>
       <class name="Pages.LogIn"></class>
        <class name="Pages.Register"></class>
         <class name="Pages.Search"></class>
      </classes>
  </test> <!-- Test -->    
   </suite> <!-- Suite -->